[user]
	name = Gustavo Siqueira
	email = rsiqueira.gustavo@gmail.com
[core]
	excludesfile = /Users/sikeira/.gitignore_global
[alias]
	differ = diff --word-diff=color --word-diff-regex='[^ ]'
    lg = log --color --all --branches --graph --abbrev-commit --date=short --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	slug = log --color --branches --graph --decorate --oneline
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	rebase = true
